h1 {
    text-align: center;
    background-color: black;
    color: crimson;
}
header {
    font-size: 24px;
    margin: 0 auto;
}
body {
    background-color: #efeee7;
}
.container {
    margin-bottom: -50%
}
section {
    float: left
}
#main-bio {
    
    
}
#contact-info { 
    

  
}
    
    

}
a {
    color: red;
}
h2 {
    color: brown;
}

div {
    
}